body{
    padding: 20px;
}

a, a:visited, a:hover
{
    text-decoration: none;
}

li{
    height: 900px;
    margin-bottom: 20px;
    list-style-type: none;
    font-weight: bold;
    font-size: 20px;
}
#h-start{
	color: red;	
}
#h-mid{
	color: blue;	
}
#h-end{
	color: green;	
}
#prev
{
    float: left;
}

#next
{
    float: right;
}

#title
{
    font: 15px;
    width: auto;
    margin: 0 auto;
    text-align: center;
}

.jQTour{
    width: auto;
    position: absolute;
    text-align: center;
    left: 20px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 50px;
}

.start
{
    border: 1px solid red;
}

.start, .start > a
{
    color: red;
}

.mid{
    border: 1px solid blue;
}

.mid, .mid > a
{
    color: blue;
}

.end
{
    border: 1px solid green;
}

.end, .end > a
{
    color: green;
}
#msg{
    color: black;
    padding: 5px 10px 0px;
}
​